name: Publish

on:
  workflow_call:
    inputs:
      dry-run:
        default: false
        description: Should publishing be skipped? Useful during tests.
        required: false
        type: boolean
      working-directory:
        default: "."
        description: Where is the `mkdocs.yml` file located?
        required: false
        type: string

concurrency:
  group: docs-deploy-${{ github.ref }}
  cancel-in-progress: false

env:
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.14.0"

jobs:
  publish:
    name: mkdocs
    runs-on: ubuntu-24.04
    permissions:
      # mkdocs gh-deploy uses the old gh-pages branch method to publish Pages.
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # Explicitly required to be able to push the gh-pages branch.
          persist-credentials: true

      - name: Select Python version
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Build documentation
        if: ${{ inputs.dry-run }}
        run: |
          cd "${{ inputs.working-directory }}"
          pip install mkdocs-material
          mkdocs build

      - name: Build/deploy documentation
        if: ${{ !inputs.dry-run }}
        run: |
          cd "${{ inputs.working-directory }}"
          pip install mkdocs-material
          mkdocs gh-deploy --force
