name: QA

on:
  workflow_call:
    inputs:
      working-directory:
        default: "."
        description: Where is the `mkdocs.yml` file located?
        required: false
        type: string

env:
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.14.2"

jobs:
  mkdocs:
    name: mkdocs
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Select Python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Build documentation
        run: |
          cd "${{ inputs.working-directory }}"
          pip install mkdocs-material
          mkdocs build
