name: Publish

on:
  workflow_call:
    inputs:
      artifact-name:
        default: ""
        description: The name of a previously generated build artifact that should be used for building the image.
        required: false
        type: string
      build-args:
        description: Additional build arguments to pass to the container builder.
        required: false
        type: string
      containerfile:
        default: Dockerfile
        description: The name of the container image manifest. Relative to the `context`.
        required: false
        type: string
      context:
        default: "."
        description: The container image build context working-directory.
        required: false
        type: string
      dist-tag:
        description: Floating release tag to put on the image.
        required: false
        type: string
      image-description:
        description: Value for `org.opencontainers.image.description`.
        required: false
        type: string
      image-name:
        description: The name of the image, including scope.
        required: true
        type: string
      image-tag:
        description: The tag to place on the image.
        required: true
        type: string
      image-title:
        description: Value for `org.opencontainers.image.title`.
        required: false
        type: string
      is-latest:
        default: false
        description: DEPRECATED! Use dist-tag instead. Should this image also be tagged as 'latest'?
        required: false
        type: boolean
      push:
        default: false
        description: Should we push the image to the registry?
        required: false
        type: boolean
      registry:
        default: ghcr.io
        description: Which registry should we use?
        required: false
        type: string
      with-sarif:
        default: false
        description: Should we generate a vulnerability report?
        required: false
        type: boolean
      with-sbom:
        default: false
        description: Should we generate an SBOM for the OCI?
        required: false
        type: boolean
      with-sbom-attest:
        default: false
        description: Should we have the SBOM for the image attested?
        required: false
        type: boolean
    outputs:
      publish-url:
        description: The registry URL where the container version was published.
        value: ${{ jobs.publish.outputs.publish-url }}

jobs:
  publish:
    name: OCI
    outputs:
      publish-url: ${{ steps.details.outputs.publish-url }}
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write
      security-events: write
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false

      - if: ${{ inputs.artifact-name }}
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: ${{ inputs.artifact-name }}

      - id: meta
        name: Extract metadata
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ${{ inputs.registry }}/${{ inputs.image-name }}
          labels: |
            org.opencontainers.image.description=${{ inputs.image-description || inputs.image-title || inputs.image-name }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.source=${{ github.server_url }}/${{ inputs.context }}
            org.opencontainers.image.title=${{ inputs.image-title || inputs.image-name }}
            org.opencontainers.image.version=${{ inputs.image-tag }}
          tags: |
            type=raw,value=${{ inputs.image-tag }}
            type=raw,value=${{ inputs.dist-tag || 'ignored' }},enable=${{ inputs.dist-tag != '' }}
            type=raw,value=latest,enable=${{ inputs.is-latest }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Log in to the registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - env:
          DOCKER_BUILD_RECORD_UPLOAD: false
          DOCKER_BUILD_SUMMARY: false
          SOURCE_DATE_EPOCH: 0
        id: build
        name: Build ${{ inputs.push && '+ Push' || '' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          build-args: ${{ inputs.build-args }}
          cache-from: type=registry,ref=${{ inputs.registry }}/${{ github.repository }}/cache
          cache-to: type=registry,ref=${{ inputs.registry }}/${{ github.repository }}/cache,mode=max
          context: ${{ inputs.context }}
          file: ${{ inputs.context }}/${{ inputs.containerfile }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          # Pushes a provenance attestation to the registry, which can currently confuse
          # some clients. We skip this process for the time being, and instead attest
          # our SBOM manually later.
          provenance: false
          push: ${{ inputs.push }}
          tags: ${{ steps.meta.outputs.tags }}

      - id: details
        name: Result
        run: |
          DIST_URL="https://${{ inputs.registry }}/${{ inputs.image-name }}:${{ inputs.dist-tag }}"
          PUBLISH_URL="https://${{ inputs.registry }}/${{ inputs.image-name }}:${{ inputs.image-tag }}"
          echo "publish-url=$PUBLISH_URL" >> "$GITHUB_OUTPUT"
          echo "Published OCI to <$PUBLISH_URL>" >> $GITHUB_STEP_SUMMARY
          echo "Tagged OCI as <$DIST_URL>" >> $GITHUB_STEP_SUMMARY

      - if: ${{ inputs.with-sbom && inputs.push }}
        name: Generate SBOM
        uses: anchore/sbom-action@8e94d75ddd33f69f691467e42275782e4bfefe84 # v0
        with:
          artifact-name: ${{ inputs.image-title }}-${{ inputs.image-tag }}.sbom.spdx.json
          format: spdx-json
          image: ${{ inputs.registry }}/${{ inputs.image-name }}:${{ inputs.image-tag }}
          upload-artifact: true
          upload-release-assets: false

      - id: scan
        if: ${{ inputs.with-sarif }}
        name: Grype scan
        uses: anchore/scan-action@3aaf50d765cfcceafa51d322ccb790e40f6cd8c5 # v7
        with:
          add-cpes-if-none: true
          fail-build: false
          image: ${{ inputs.registry }}/${{ inputs.image-name }}:${{ inputs.image-tag }}
          severity-cutoff: critical

      - if: ${{ inputs.with-sarif }}
        name: Store SARIF report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ inputs.image-title }}-${{ inputs.image-tag }}.sarif.json
          path: ${{ steps.scan.outputs.sarif }}
          retention-days: 1

      - if: ${{ inputs.with-sarif }}
        name: Upload scan report
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          category: ${{ inputs.image-name }}-${{ inputs.image-tag }}
          sarif_file: ${{ steps.scan.outputs.sarif }}

      - if: ${{ inputs.with-sbom && inputs.with-sbom-attest && inputs.push }}
        id: attest
        name: Upload SBOM attestation
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3
        with:
          subject-name: ${{ inputs.registry }}/${{ inputs.image-name }}
          subject-digest: ${{ steps.build.outputs.digest }}
          sbom-path: ${{ inputs.image-title }}-${{ inputs.image-tag }}.sbom.spdx.json
          push-to-registry: true
