name: QA

on:
  workflow_call:
    inputs:
      working-directory:
        default: "."
        description: Where is the `package.json` file located?
        required: false
        type: string

env:
  # renovate: datasource=node-version depName=node versioning=node
  NODE_VERSION: "24.13.0"

jobs:
  qa:
    name: Browser App
    permissions:
      contents: read
      packages: read
    runs-on: ubuntu-24.04
    
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Select Node.js version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Load cached dependencies
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node{{ env.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node${{ env.NODE_VERSION }}

      - name: Build, lint, test
        run: |
          make lint
          make build test
        working-directory: ${{ inputs.working-directory }}
