name: QA

on:
  workflow_call:
    inputs:
      artifact-contents:
        default: ""
        description: List of paths to put into the `build-output` artifact.
        required: false
        type: string
      artifact-name:
        default: build-output
        description: "The name that should be assigned to the build output artifact."
        required: false
        type: string
      containerfile:
        default: "Dockerfile"
        description: "The name of the container image manifest. Relative to the `context`."
        required: false
        type: string
      context:
        default: "."
        description: "The container image build context working-directory."
        required: false
        type: string
      registry:
        default: ghcr.io
        description: Which registry should we use?
        required: false
        type: string
      working-directory:
        default: "."
        description: Where is the `package.json` file located?
        required: false
        type: string

env:
  # renovate: datasource=node-version depName=node versioning=node
  NODE_VERSION: "24.11.1"

jobs:
  qa:
    name: Node.js OCI
    permissions:
      contents: read
      packages: read
    runs-on: ubuntu-24.04
    
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false

      - name: Select Node.js version
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Load cached dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node{{ env.NODE_VERSION }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node${{ env.NODE_VERSION }}

      - name: Build, lint, test
        run: |
          make lint
          make build test
        working-directory: ${{ inputs.working-directory }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
          DOCKER_BUILD_SUMMARY: false
          SOURCE_DATE_EPOCH: 0
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          cache-from: type=registry,ref=${{ inputs.registry }}/${{ github.repository }}/cache
          context: ${{ inputs.context }}
          file: ${{ inputs.context }}/${{ inputs.containerfile }}
          platforms: linux/amd64
          provenance: false
          push: false

      - if: inputs.artifact-contents != ''
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-contents }}
          retention-days: 1
